@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=East+Sea+Dokdo&display=swap');

* {
    font-family: sans-serif;
    font-size: 1.4rem;
}



.background {
    /* background-color:rgb(237, 237, 212); */
    width: 360px;
    background-image: url("https://s3.ap-northeast-2.amazonaws.com/materials.spartacodingclub.kr/bucketList/bg-grid.png");
}




.bucket_title {
    background-color: rgb(16, 136, 227);
    font-size: 30px;
    color: aliceblue;
    width: 300px;
    height: 60px;

    margin: 30px auto 20px auto;
    padding: 14px 0px 0px 0px;
    border-radius: 8px;
    text-align: center;
}


.sub_title {
    background-color: rgb(166, 188, 255);
    width: 300px;
    height: 50px;
    padding: 10px 0px 0px 0px;
    font-size: 25px;
    color: black;
    text-align: center;
    font-weight: bold;
}

.row {
    width: 400px;
    border-width: 5px;
    border-style: groove;
    border-color: rgb(92, 152, 220);
}


.bucket {
    font-size: 24px;
    width: 160px;
    height: 160px;
}

.card_ver_1 {
    background-image: url("https://s3.ap-northeast-2.amazonaws.com/materials.spartacodingclub.kr/bucketList/bucket-blue.png");
    background-size: cover;
    background-position: center;
    color:white
}

.card_ver_2 {
    background-image: url("https://s3.ap-northeast-2.amazonaws.com/materials.spartacodingclub.kr/bucketList/bucket-lightblue.png");

    background-size: cover;
    background-position: center;
}